<ion-tabs class="meeting-top-tabs">
  <ion-tab-bar slot="top">
    <ion-tab-button routerLinkActive="tab-selected"   routerLink="/dashboard/community/meeting/all" >
      <!-- <ion-avatar class="avatar ion-align-items-center">
        <ion-icon class="ion-align-items-center custom-all-meetings"></ion-icon>
      </ion-avatar> -->
      <ion-label>All Meetings</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected"   routerLink="/dashboard/community/meeting/my-meeting">
      <!-- <ion-avatar class="avatar ion-align-items-center">
        <ion-icon class="ion-align-items-center custom-created-by-me" ></ion-icon>
      </ion-avatar> -->
      <ion-label>My Meetings</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/dashboard/community/meeting/upcoming" >
      <!-- <ion-avatar class="avatar ion-align-items-center">
        <ion-icon class="ion-align-items-center custom-upcoming" ></ion-icon>
      </ion-avatar> -->
      <ion-label>Future Meetings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>