<!-- 
<ion-fab class="add-btn" vertical="end" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" [routerLink]="['/meeting/create']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
<ion-content>
  <app-meeting-list [noMeetingMsg]="noMeetingMsg" [type]="params.type"></app-meeting-list>
  <!-- <ion-list class="meeting-list">
    <ion-item class="meeting-item">
      <ion-grid>
        <ion-row class="ion-nowrap">
          <ion-col class="img-left">
            <ion-avatar class="avater">
              <img [src]="googlePic" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-label class="meeting-title">Let's gather our barriors</ion-label>
            <ion-label class="meeting-sub-title">Say No To Harrasment</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <label class="meeting-desc">
            orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scram
          </label>
        </ion-row>
        <ion-row class="ion-nowrap">
          <ion-col size="8" class="ion-no-padding">
            <label class="meeting-date" style="display: block;">14 Nov 2019, 08:00 - 9:00 pm</label>
            <ion-text  class="ion-align-items-center" style="display: flex;">
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-text class="fallowing-members">Members are Following</ion-text>
            </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-text style="font-weight: bold;display: block;font-size: 14px;">New yark, NY</ion-text>
            <ion-button color="medium">Un Join</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="meeting-item">
      <ion-grid>
        <ion-row class="ion-nowrap">
          <ion-col class="img-left">
            <ion-avatar class="avater">
              <img [src]="googlePic" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-label class="meeting-title">Let's gather our barriors</ion-label>
            <ion-label class="meeting-sub-title">Say No To Harrasment</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <label class="meeting-desc">
            orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scram
          </label>
        </ion-row>
        <ion-row class="ion-nowrap">
          <ion-col size="8" class="ion-no-padding">
            <label class="meeting-date" style="display: block;">14 Nov 2019, 08:00 - 9:00 pm</label>
            <ion-text  class="ion-align-items-center" style="display: flex;">
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-text class="fallowing-members">Members are Following</ion-text>
            </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-text style="font-weight: bold;display: block;font-size: 14px;">New yark, NY</ion-text>
            <ion-button color="medium">Un Join</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="meeting-item">
      <ion-grid>
        <ion-row class="ion-nowrap">
          <ion-col class="img-left">
            <ion-avatar class="avater">
              <img [src]="googlePic" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-label class="meeting-title">Let's gather our barriors</ion-label>
            <ion-label class="meeting-sub-title">Say No To Harrasment</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <label class="meeting-desc">
            orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scram
          </label>
        </ion-row>
        <ion-row class="ion-nowrap">
          <ion-col size="8" class="ion-no-padding">
            <label class="meeting-date" style="display: block;">14 Nov 2019, 08:00 - 9:00 pm</label>
            <ion-text  class="ion-align-items-center" style="display: flex;">
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-avatar class="avater small">
                <img [src]="googlePic" />
              </ion-avatar>
              <ion-text class="fallowing-members">Members are Following</ion-text>
            </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-text style="font-weight: bold;display: block;font-size: 14px;">New yark, NY</ion-text>
            <ion-button color="medium">Un Join</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list> -->

</ion-content>
