<ng-container *ngIf="meeting">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" class="white-color">
        <ion-back-button defaultHref="dashboard"></ion-back-button>
        <ion-img class="ion-padding-r-10 header-logo" src="assets/svg/nah_logo_white.svg"></ion-img>
        <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
          {{title}}
        </ion-text>
      </ion-buttons>
      <ion-row class="profile-settings text-10" *ngIf="!meeting.isSuspend">
        <ion-icon style="cursor: pointer;" name="md-more" color="light" (click)="actionMenu($event)"></ion-icon>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header class="ion-padding-b-5">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-card-title style="font-size: 18px;">{{meeting.title}} </ion-card-title>
            <ion-card-subtitle class="ion-margin-t-5" color="danger">Say No To {{meeting.group.name}}
              <ion-text color="danger" *ngIf="meeting.isSuspend">
                (Suspend)
              </ion-text>
            </ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-right ion-no-padding" size="auto">
            <ion-button size="small" color="danger" *ngIf="meeting.isPublished==0" (click)="publishMeeting(meeting)">
              Publish
            </ion-button>
            <ng-container *ngIf="meeting.isPublished==1 && !meeting.isCreatedBy && !meeting.isSuspend && !meeting.isCompleted">
              <ion-button class="ion-no-margin button-small" size="small" color="medium" (click)="meetingJoin(meeting)"
                *ngIf="meeting.isMember">
                Unjoin</ion-button>
              <ion-button class="ion-no-margin button-small" size="small" color="danger" (click)="meetingJoin(meeting)"
                *ngIf="!meeting.isMember">
                Join</ion-button>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-card-header>


      <ion-card-content>
        <ion-img class="ion-text-center m-height-250" [src]="meeting.imageUrl" style="height: 200px;"></ion-img>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-padding-t-5">
            <ion-col class="ion-no-padding black text-justify">
              {{meeting.agenda}}
            </ion-col>
          </ion-row>
          <ion-row  class="ion-padding-t-5">
            <ion-col size="5" class="ion-padding-l-0 ion-padding-r-0  d-flex ion-align-items-center">
              <ion-icon color="dark" class="ion-padding-r-3" size="small" name="call"></ion-icon>
              <ion-label color="dark">{{meeting.contactMobile}}</ion-label>
            </ion-col>
            <ion-col size="7" class="ion-padding-l-0 ion-padding-r-0  d-flex ion-align-items-center">
              <ion-icon color="dark" class="ion-padding-r-3" size="small" name="mail"></ion-icon>
              <ion-label color="dark">{{meeting.contactEmail}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="ion-padding-l-0 ion-padding-r-0  d-flex ion-align-items-center">
              <ion-icon color="danger" class="ion-padding-r-3" size="small" name="calendar"></ion-icon>
              <ion-label color="danger">{{meeting.meetingDate | date:"mediumDate"}}</ion-label>
            </ion-col>
            <ion-col size="7" class="ion-no-padding d-flex ion-align-items-center" color="danger">
              <ion-icon class="ion-padding-r-3" color="danger" size="small" name="alarm"></ion-icon>
              <ion-label color="danger">{{meeting.startTime | date:'shortTime'}} -
                {{meeting.endTime | date:'shortTime'}}</ion-label>
            </ion-col>
            <ion-col class="ion-no-padding d-flex ion-align-items-center black">
              <ion-icon class="ion-padding-r-3" size="small" name="pin"></ion-icon>{{meeting?.location}}
              {{meeting?.city?.name}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-t-5">
            <ion-col class="ion-no-padding d-flex ion-align-items-center black ">
              <ion-icon class="ion-padding-r-3" color="dark" size="small" name="person"></ion-icon>
              Created By: {{meeting?.createdBy?.displayName}}@{{meeting?.createdBy?.typeOfNoer | titlecase}} 
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap ion-padding-b-5">
            <app-peoples-icons [peoples]="meeting.members" label="Members are Following"></app-peoples-icons>
          </ion-row>
          <ion-row>
            <ion-tabs>
              <ion-tab-bar>
                <!-- <ion-tab-button (click)="activeTab='members'">
                  <ion-label>Peoples</ion-label>
                </ion-tab-button> -->
                <ion-tab-button [ngClass]="{'active': activeTab=='images'}" (click)="activeTab='images'">
                  <ion-label>Images({{meeting.photos.length}})</ion-label>
                </ion-tab-button>
                <ion-tab-button class="ion-margin-l-5 " [ngClass]="{'active': activeTab=='videos'}"
                  (click)="activeTab='videos'">
                  <ion-label>Videos({{meeting.videos.length}})</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-row>

          <ng-container [ngSwitch]="activeTab">
            <ng-container *ngSwitchCase="'images'">

              <ion-row class="ion-nowrap">
                <ion-col class="ion-no-padding">


                  <ion-list class="">
                    <div class="container image-list" gallerize>
                      <div class="image-list-block" *ngFor="let item of meeting.photos;let imgIndex=index;">
                        <span class="img-delete" *ngIf="!meeting.isSuspend && item.createdBy && item.createdBy.id==userInfo.id" (click)="deleteImg(meeting.photos,imgIndex)">
                          <ion-icon name="trash"></ion-icon>
                        </span>
                        <img class="image-thumb"  [title]="meeting.title"
                        [src]="item.imagePath">
                      </div>
           
                        <form [formGroup]="form" class="ion-margin-t-5"  *ngIf="!meeting.isSuspend">
                          <formly-form [form]="form" [fields]="fields" [model]="imageModel">
                          </formly-form>
                        </form>
                    </div>
                    <ion-row class="ion-align-items-center no-meetings" *ngIf="meeting.photos.length==0 && meeting.isSuspend">
                      <ion-col class="ion-justify-content-center" style="display: flex;align-items: center;">
                        No Images Available
                      </ion-col>
                    </ion-row>
                    <!-- <ion-thumbnail class="image-thumb" *ngFor="let item of meeting.photos" [title]="meeting.title">
                      <img [src]="item.imagePath" alt="">
                    </ion-thumbnail> -->
                  </ion-list>

                </ion-col>

              </ion-row>
            </ng-container>
            <ng-container *ngSwitchCase="'videos'">
              <app-meeting-videos [videos]="meeting.videos" [meeting]="meeting" [userInfo]="userInfo"
                [meetingId]="meeting.id"></app-meeting-videos>
            </ng-container>
            <ng-container *ngSwitchDefault>
              members
            </ng-container>
          </ng-container>

          <ion-row *ngIf="meeting.comments.length > 0">
            <h3 class="comments-title">COMMENTS({{meeting.comments.length}})</h3>


            <ion-list class="meeting-list meeting-list-d" *ngFor="let c of meeting.comments;let cInx=index;">
              <ion-grid class="meeting-item ion-no-padding">
                <ion-row class="ion-nowrap ion-align-items-center">
                  <ion-col size="2" class="img-left ion-no-padding">
                    <ion-avatar class="avater">
                      <img [src]="c.createdBy.imageUrl" />
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="7" class="ion-no-padding">
                    <!-- <ion-label class="meeting-title" style="display: block;color: #000;">Let's gather our barriors
                    </ion-label> -->
                    <ion-label class="meeting-sub-title" style="font-weight: bold;">{{c.createdBy.displayName}}
                    </ion-label>



                  </ion-col>
                  <ion-col size="3" class="ion-no-padding ion-text-right">
                    <label class="meeting-date" timeago [date]="c.updatedDate"></label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding" size="2">
                  </ion-col>
                  <ion-col class="ion-no-padding" size="10">

                    <ion-label class="meeting-sub-title">{{c.comment}}</ion-label>

                  </ion-col>
                </ion-row>
                <ion-row class="reply-list meeting-item" *ngFor="let rc of c.replys;let inx=index;">
                  <label style="float: left;" class="meeting-date" timeago [date]="rc.createdDate"></label>
                  <ion-chip class="custom-chip">

                    <ion-label class="meeting-sub-title" style="font-weight: bold;">{{rc.createdBy.displayName}}
                    </ion-label>
                    <ion-avatar>
                      <img [src]="rc.createdBy.imageUrl">
                    </ion-avatar>
                  </ion-chip>
                  <ion-col size="12" class="ion-text-right ion-padding-t-0"
                    style="display: flex;align-items: center;justify-content: flex-end;">

                    <ion-label class="meeting-sub-title">{{rc.comment}}</ion-label>
                    <ion-icon size="small" name="trash" *ngIf="userInfo.id === rc.createdBy.id && !meeting.isSuspend"
                      (click)="deleteComment(c.replys,inx,true)" class="ion-padding-r-5" style="cursor: pointer;">
                    </ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!meeting.isSuspend">
                  <ion-col>
                    <ion-icon size="small" *ngIf="userInfo.id === c.createdBy.id" name="trash"
                      (click)="deleteComment(meeting.comments,cInx,false)" class="ion-padding-r-5"
                      style="cursor: pointer;"></ion-icon>
                  </ion-col>
                  <ion-col (click)="replyComment(c)" size="4" class="ion-no-padding ion-text-right" style="color:#f00;">
                    <ion-icon name="repeat"></ion-icon>
                    <label>Reply</label>

                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-list>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
<ion-footer *ngIf="meeting && !meeting.isSuspend" >
  <ion-list class="meeting-list meeting-list-d">
    <ion-grid class="meeting-item ion-no-padding">
      <ion-row *ngIf="replyMsg.id">
        <ion-chip>

          <ion-text color="dark" style="display: inline-block;text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;">
            {{replyMsg.comment}}
          </ion-text>
          <ion-icon  (click)="clearReply()" name="close-circle-outline"></ion-icon>
        </ion-chip>
      </ion-row>
      <ion-row class="ion-nowrap ion-align-items-center" *ngIf="!meeting.isSuspend">
        <ion-col size="2" class="img-left">
          <ion-avatar class="avater" style="margin: 0 auto;">
            <img [src]="googlePic" />
          </ion-avatar>
        </ion-col>
        <ion-col class="">
          <ion-textarea class="border" style="margin: 0;" rows="1" maxlength="250" #commentMsgEle
            [(ngModel)]="commentMsg" placeholder="Enter Comments">
          </ion-textarea>
        </ion-col>
        <ion-col size="auto" class="ion-text-center">
          <!-- <ion-button size="small" color="danger" (click)="addComment(commentMsg)" [disabled]="!commentMsg">
            Send
          </ion-button> -->
          <ion-icon *ngIf="commentMsg" size="large" color="danger" (click)="addComment(commentMsg)" name="send">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-footer>