<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo"
        src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        {{title}}
      </ion-text>
    </ion-buttons>
    <ion-row class="profile-settings text-10">
      <ion-text (click)="dismiss()" class="ion-vertical-align-right ion-margin-r-5 white-color ion-margin-t-5">
        Cancel
      </ion-text>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding video-widget">
  <ion-row>
    <ion-col>
      <b>To copy YouTube videos, you'll need to know just 3 steps:</b>
      <ol class="ion-no-margin ion-no-padding">
        <li>
          Navigate to <a href="https://www.youtube.com/" target="_blank">https://www.youtube.com/</a> 
        </li>
        <li>
          Upload your video to YouTube Chanel (or) copy the link/URL for the video you want to insert from existing youtube video. 
        </li>
        <li>
          Return to Nah app and Paste the link/URL. Then click "Insert”.
        </li>
      </ol>
        
        
    </ion-col>
  </ion-row>
  <ion-row class="ion-nowrap ion-align-items-center">
    <!-- <ion-row>
      <ion-label>https://www.youtube.com/embed/</ion-label>
    </ion-row> -->
    <ion-col>
      <form [formGroup]="form">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <!-- <div class="col-12">
          <button type="submit" class="btn btn-default">Submit</button>
        </div> -->
      </form>

    </ion-col>

    <ion-row class="">
      <!-- <ion-input type="text" class="border" style="margin: 0;" [(ngModel)]="modelVideoPath"
        placeholder="Youtube Video URL">
      </ion-input> -->
    </ion-row>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button color="danger" type="submit" (click)="addVideo()" [disabled]="this.form.invalid">
      Insert
    </ion-button>
  </ion-row>
</ion-content>
<!-- 
<ion-row  class="ion-nowrap ion-align-items-center">
  <ion-col  class="">
    <ion-textarea class="border" style="margin: 0;" [(ngModel)]="modelVideoPath" placeholder="Enter Embed Video Link">
    </ion-textarea>
  </ion-col>
</ion-row>
<ion-row  class="ion-nowrap ion-align-items-center">
  <ion-col  class="ion-text-center">
    <ion-button size="small" color="danger" (click)="addVideo(modelVideoPath)" [disabled]="!modelVideoPath">
      Add Embed Video Link
    </ion-button>
  </ion-col>
</ion-row> -->