<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo"
        src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        About NAH
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding about ion-text-end">
  <ion-row class="ion-align-items-center" style="height: 100%;">
    <p style="text-align: center;padding: 14px 0;">
      Did you ever want to meet another person who shares similarities in dislikes towards something just like you? Well
      now that has been made as easy as just a click away because NAH is here. This is a free platform, exclusively for
      souls like you and yourself.<br>
      <span class="ion-padding-t-10" style="display: block;">We strongly believes, an open-minded community on our platform is emphasizing interactions among people of the
      same right to SAYS NO.</span>

    </p>
    <!-- <p style="text-align: center;padding: 14px 0;">
    </p> -->
  </ion-row>
</ion-content>
<ion-footer style="text-align: center;padding:30px;">
  <ion-text class="ion-padding">
    Version 1.0
  </ion-text>
</ion-footer>