<ion-list class="ion-no-margin ion-no-padding">
  <ion-item color="danger" *ngIf="!meeting.isCreatedBy" class="text-10" (click)="reportModal()">
    <ion-icon name="flag" color="light"></ion-icon>
    <ion-label>Report Meeting</ion-label>
  </ion-item>
  <!-- meeting.isPublished==0 &&  -->
  <ion-item *ngIf="meeting.isCreatedBy" color="danger" class="text-10" (click)="editMeeting()">
    <ion-icon name="md-create" color="light" class="ion-padding-r-5"></ion-icon>
    <ion-label>Edit Meeting</ion-label>
  </ion-item>
  <ion-item *ngIf="meeting.isCreatedBy && meeting.isPublished==1 && meeting.isCanceled == 0" color="danger" class="text-10" (click)="cancelMeeting()">
    <ion-icon name="close-circle-outline" color="light"  class="ion-padding-r-5"></ion-icon>
    <ion-label>Cancel Meeting</ion-label>
  </ion-item>
  <!-- <ion-item *ngIf="meeting.isCreatedBy" color="danger" class="text-10" (click)="deleteMeetingConfirm()">
    <ion-icon name="md-trash" color="light"></ion-icon>
    <ion-label>Remove</ion-label>
  </ion-item> -->
</ion-list>
