
<!-- <div *ngIf="(agendaS.agenda$ | async) && (agendaS.agenda$ | async) as agenda3">
  asfd
  {{agenda3 | json}}
  {{agenda3.name}}
</div> -->
<ion-card class="ion-no-margin custom-card"  *ngIf="(agendaS.agenda$ | async) && (agendaS.agenda$ | async) as agenda">
    <ion-card-header>
    <ion-card-title class="card-title">{{agenda.title}}
      <div class="bars-list">
        <span class="bar" [ngClass]="{'active': activeDays>=inx}" *ngFor="let inx of totalDaysArray;"></span>
        <!-- <span class="bar" [ngClass]="{'active': inx>=1}"></span>
        <span class="bar" [ngClass]="{'active': day>=2}"></span>
        <span class="bar " [ngClass]="{'active': day>=3}"></span>
        <span class="bar "></span>
        <span class="bar "></span>
        <span class="bar "></span>
        <span class="bar "></span> -->
      </div>
      <!-- <div class="lock" *ngIf="agenda.isLocked">
        <ion-icon name="lock"></ion-icon>
      </div> -->
      <div>
        <a [routerLink]="[ '/agenda/list']">Old Agenda's</a>
      </div>
    </ion-card-title>
    <!-- <ion-card-subtitle class="card-sub-title">
      <span class="sub-title-info1">Phase <span class="text-red">1</span> day <span class="text-red">{{activeDays}}</span></span>
      <span class="sub-title-info2">From <span class="text-date">{{agenda.startDate | date}}</span> To <span class="text-date">{{agenda.endDate | date}}</span></span>
       </ion-card-subtitle> -->
  </ion-card-header>
  <ion-card-content>
    <ion-row class="agenda-list" >
      <span>Say No To </span> <ion-badge color="danger" *ngFor="let topic of agenda.topics">{{topic.name | uppercase }}</ion-badge>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-row *ngIf="showCreateBtn">
  <ion-button (click)="createAgenda()">Create Agenda</ion-button>
</ion-row>