<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo"
      src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        Group Info
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" slot="fixed">
  <ion-card class="card">
    <ion-card-header class="ion-align-items-center ion-text-center">
      <ion-text class="circle">
        {{
          group.name.charAt(0)
        }}
      </ion-text>
    </ion-card-header>
    <ion-card-content class="card-body ion-text-center">
      <h4 class="country"><strong>Say No To</strong> {{ group.name }}</h4>
    </ion-card-content>
  </ion-card>
  <ion-grid class="ion-no-padding">
    <ion-row class="">
      <ion-tabs class="relative-tabs"> 
        <ion-tab-bar>
         
          <ion-tab-button [ngClass]="{'tab-selected': activeTab=='meetings'}" (click)="activeTab='meetings'">
            <ion-label>Meetings</ion-label>
          </ion-tab-button>
          <ion-tab-button [ngClass]="{'tab-selected': activeTab=='followers'}" (click)="activeTab='followers'">
            <ion-label>Followers</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-row>
    <ng-container [ngSwitch]="activeTab">
      <ng-container *ngSwitchCase="'followers'">
        <ion-row class="ion-align-items-center no-meetings" *ngIf="followersList.length==0">
          <ion-col class="ion-justify-content-center" style="display: flex;align-items: center;">
            No Followers Available
          </ion-col>
        </ion-row>
        <ion-list class="meeting-list">
          <ion-item class="meeting-item" *ngFor="let f of followersList">
            <ion-grid class="ion-no-padding" >
              <ion-row class="ion-nowrap ion-align-items-center">
                <ion-col class="img-left ion-no-padding">
                  <ion-thumbnail class="" style="display: flex;align-items: center;">
                    <ion-img class="avatar" [src]="f.user.imageUrl"></ion-img>
                  </ion-thumbnail>
        
                </ion-col>
                <ion-col class="ion-no-padding" style="display: flex;flex-direction:column;justify-content: center;">
                  <ion-label class="meeting-title">{{f.user.displayName}} </ion-label>
                </ion-col>
              </ion-row>
              <!-- <ion-row class="ion-nowrap row-last ion-align-items-center ion-padding-b-5">
                <ion-col class="ion-no-padding">
                  <label class="meeting-date" style="display: block;">
                    {{f.createdDate | date:'shortTime'}} - {{f.updatedDate | date:'shortTime'}} </label>
                </ion-col>
                
              </ion-row> -->
            </ion-grid>
          </ion-item>
        </ion-list>
      </ng-container>
      <ng-container *ngSwitchCase="'meetings'">
        <app-meeting-list *ngIf="group.id" type="group"[groupId]="group.id" ></app-meeting-list>
      </ng-container>
    </ng-container>
  </ion-grid>
</ion-content>
<!-- <ion-content> 
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="img-left">
        <ion-avatar class="avater text" >
          <label style="font-weight: bold;font-size:16px;color:#fff;">{{
            group.name.charAt(0)
          }}</label>
        </ion-avatar>
      </ion-col>
      <ion-col class="ion-padding-l-0">
        <ion-row class="ion-nowrap ion-align-items-center" >
          <ion-col class="ion-padding-l-0" >
            <ion-label class="meeting-title"><strong>Say No To</strong> {{ group.name }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-nowrap ion-align-items-center ion-justify-content-between">
          <ion-col class="ion-no-padding" style="display: flex;flex-wrap: wrap;">

            <app-peoples-icons [peoples]="group.followers" label="Members are Following"></app-peoples-icons>

          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
