<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo"
      src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        Privacy Policies
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding information">
  <p>
    Our privacy policy explains how NAH collects, uses, and discloses details about you. The term ‘NAH’ says “we” ,“us”
    and “our” include Goyay Inc and our affiliate partners. The privacy policy refers to the procession of the
    information about members and other individuals that we receive when you are using ‘mobile app’ which includes any
    service that we provide or when you connect with SAYNO.

  </p>
  <p>
    To encourage interpretation of this Privacy Policy, we have included summaries in these grey boxes. Those summaries
    do not form part of official policy. Even though we've given summaries, careful reading of the entire policy is
    crucial for you. When you want to view some specific section of this Privacy Policy, use the following list to move
    to that section.
  </p>
  <div class="d-block">
    <h4 class="d-block-header">Collection Of Information</h4>
    <p>We collect information about you when you:</p>
    <ul>
      <li>
        <p>Sign up account with Google. We don’t collect any information from your end , whatever you provided when
          signing up for Google account will reflects to your NAH account.





        </p>
      </li>
      <li>

        <p>Use the NAH services.</p>
      </li>
      <li>

        <p>Organizing an event or attending a meeting.</p>
      </li>
      <li>
        <p>Communication with us like reporting a meeting or malicious content.</p>

      </li>
    </ul>
    <p>
      The details you send us when you join a group can sometimes mean information about your values, political views,
      health conditions; or sexual identity. Special care is granted to this, and other kinds of sensitive information.
      It is against our guidelines to post personal or sensitive information about yourself or others.
    </p>
    <h5>Information we collect when you use the NAH app.</h5>
    <p> <b>Log information:</b> As soon you download the app and use the services which includes duration of your access
      of the app .</p>
    <p> <b>Device information: </b> NAH collects information about mobile device or computer that you use our services
      includes operation system, version number , mobile network information and Unique identifiers .</p>
    <p> <b>Location information: </b> Location information is taken based on user selected location when signing up the
      app .</p>
    <p> <b>Other Information:</b> We can collect other information from your mobile with your permission, such as images
      from your camera roll .</p>
    <p> <b>Invitation:</b> When you receive an invitation from another user via our Portal, we can obtain some personal
      information, such as your name, email address or telephone number. If you are a guest invited, we will
      automatically send you an invitation to our platform and, if not replied, a one-time invitation to follow-up For
      more information please feel to contact the <a href="#">goyaynah@goyay.com</a> </p>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Use Of Information</h4>
    <p>We use your information to Operate,Strengthen,Promote and protect NAH.</p>
    <h5>Operations of our services</h5>
    <ul>
      <li>
        <p>NAH will share information about your use of platform through a third-party service Google.

        </p>
      </li>
      <li>
        <p>
          Providing,sustaining and enhancing our Platform including, creating new features and services, and controlling
          our Platform's performance.

        </p>
      </li>
      <li>
        <p>
          Perform administrative and accounting activities, and execute or handle legal claims.</p>

        
      </li>
    </ul>
    <h5>Strengthening our platform</h5>
    <ul>
      <li>
        <p>NAH may take feedback from users to develop best user experience for our community. To provide you with news
          and information that we believe will be of interest,to perform onli ne surveys, to contact you about events
          taking place on our Platform near your location.

        </p>
      </li>
      <li>
        <p>
          Send you software reminders,updates and security warnings.

        </p>
      </li>
    </ul>
    <h5>Legal Compliance Basis</h5>
    <ul>
      <li>
        <p>Occasionally you send us sensitive information about yourself; for example, the mere fact of joining a
          particular group can mean information about your health, beliefs, political views, or sexual identity. Joining
          these groups or posting information about these topics on the Platform is completely voluntary and done with
          your explicit consent.

        </p>
      </li>
    </ul>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Sharing Of Information</h4>
    <p>We shall not share information about you in any other way than as outlined in this privacy policy. We can divulge information concerning you:</p>
    <ul>
      <li>
        <p>Third party service providers like Google that help us run or develop our Platform.

        </p>
      </li>
      <li>
        <p>Authorities to fulfil legal obligations and to protect and defend our rights and property.

        </p>
      </li>
    </ul>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Additional Details</h4>
    <ul>
      <li>
        <p>We can allow others,with your permission,to use technologies that collect information about you to provide analytical services, and to serve NAH ads.

        </p>
      </li>
      <li>
        <p>NAH is based in and regulated by U.S. law and we will collect, distribute and store information in and to the United States and other countries.

        </p>
      </li>
      <li>
        <p>Commercially fair efforts are being made to protect your personal information and technological and operational steps have been introduced in accordance with industry best practise. We cannot guarantee the absolute security these controls will provide.

        </p>
      </li>
    </ul>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Data Rights</h4>
    <ul>
      <li>
        <p>You may be entitled to exercise your data protection rights, including demanding that NAH delete, change or grant you access to your data.

        </p>
      </li>
      <li>
        <p>You are allowed to opt out of receiving advertising messages from NAH but you may still receive other communications.

        </p>
      </li>
      <li>
        <p>You may complain about the use of your details to your local data protection authority.

        </p>
      </li>
    </ul>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Contact Us</h4>
    <p>For more information please feel to contact the <a href="@">goyaynah@gmail.com</a> </p>
    <h5>Terms and Services Agreement</h5>
    <p>The Terms and Services of our platform which means mobile application service we offer. Every user must read complete Terms and Services because its legally binding agreement. Terms and Services includes additional information you bind when you are using NAH services.</p>
    <h5>Your Relationship with NAH :-</h5>
    <p>You may be entitled to exercise your data protection rights, including demanding that NAH delete, change or grant you access to your data. you must commit our Terms of Service by using our Platform; The Terms of Service are a binding legal arrangement between you and NAH.</p>
    <p>We will suspend or terminate your account, if you break the rules.</p>
    <h5>SAY NO group Organizers and Members:-</h5>
    <p>Not every group is for you . If you can’t really find your interested group you can create your own group .</p>
    <p>Using our NAH services means meeting real people and doing real things in the real world , often contributing to you unexpected situations . We can not monitor what’s going on in the real world and we’re not responsible for that . Common sense and good judgement should be used when dealing with members.</p>
    <p>We are not answerable for Content that individuals post or the correspondences that individuals send utilizing our Platform. We by and large don't survey Content before it's posted. In the event that you see Content that damages our Terms of Service, you may report improper Content to us.</p>
    <h5>Our Platform:-</h5>
    <ul>
      <li>

        <p> We make a decent attempt to ensure that our Platform is constantly accessible and working, yet we can't promise it will be. Once in a while things may not go precisely as arranged. We apologize ahead of time for any bother.</p>
      </li>
      <li>

        <p> We are constantly improving our Platform. This implies we may adjust or stop bits of our Platform.</p>
      </li>
      <li>

        <p> By utilizing our Platform, you consent to the impediments of obligation and discharge in our Terms of Service. You additionally consent to determine any questions you may have with us in the way depicted in the Terms of Service. Except if you are situated in the European Union, you consent to required discretion and postpone your entitlement to look for help from a judge or jury in an official courtroom. Cases must be brought separately, and not as a feature of a class activity.</p>
      </li>
      <li>
        <p> You might be situated in a nation where the laws that apply accommodate unique or extra rights and commitments. These Terms of Service will call attention to territories of contrast.</p>

      </li>
    </ul>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Terms of Service</h4>
    <p>Our Terms of Service contain significant data about your legitimate rights. These synopses are not part of the official terms, and it is significant for you to peruse the language in each area cautiously.</p>
    <p> <b>Agreement:-</b> The term ‘NAH’ says “we” ,“us” and “our” include Goyay Inc and our affiliate partners. The privacy policy refers to the procession of the information about members and other individuals that we receive when you are using ‘mobile app’ which includes any service that we provide or when you connect with SAYNO.</p>
    <p> <b>Revisions to this Agreement: - </b> We may change this Agreement now and again. At the point when we do, we will give notice to you by distributing the most present form and overhauling the date at the highest point of this page. On the off chance that we settle on any material change to this Agreement, we will give extra notification to you, for example, by sending you an email. By proceeding to utilize the Platform after any progressions become effective, you consent to the updated Agreement. In the event that you don't wish to acknowledge the reconsidered Agreement, you can close your account.</p>
    <p> <b>Eligibility:- </b> You should be in any event 18 years of age to utilize our NAH services platform

    </p>
    <p> <b>Termination and Suspension of agreement:-</b>  We may adjust, suspend, or end your record or access to the Platform if, in our sole prudence, we confirm that you have disregarded this Agreement, including any of the arrangements or rules that are a piece of this Agreement that it is to the greatest advantage of the NAH people group, or to secure our image or Platform. At the point when this occurs, we will advise you of the explanations behind the adjustment, suspension.</p>
    <p> <b>Security and Account Information:- </b>  When you register , you will sign up through google account . Keep your email address and password secret . Likewise, you consent to keep up the security and secrecy of your secret phrase.</p>
    <p> <b>Your Content and Privacy:- </b>   You are answerable for the Content that you post to the Platform or in any case give to NAH. By posting content you should be responsible for :</p>
    <ul>
      <li><p>
        Your Content does exclude individual, private or secret data having a place with others.
      </p></li>
      <li><p>
        Your Content doesn't in any case abuse the privileges of any individual or element.
      </p></li>
    </ul>
  </div>
  
    <p> 6.1 Privacy:- It collects information when you sign up through google account . Please refer to privacy polices </p>
    <p> 7. Intellectual Property Our NAH trademarks, logos, are the licensed innovation of Goyay LLC. Our Trademark Usage Guidelines clarify how you may and may not utilize them. Our Platform, remembering our material for the Platform, are likewise our or our licensors' protected innovation. Aside from as depicted in the Trademark Usage Guidelines, you are not agreed to use our property without prior consent. </p>
    <p>8. Translation This Agreement was written in English. It was then converted into different dialects. In the event that there is any irregularity between the English form and an interpreted variant, the English language adaptation controls. </p>
    <p>9. No Agency No office, organization, joint endeavour, worker business or franchiser-franchisee connection among you and NAH is expected or made by this Agreement. An individual from the NAH Platform isn't NAH delegate or operator, and may not go into a agreement for NAH benefit. </p>
    <p>10. Governing Law This Agreement and the connection among you and NAH will be represented by the laws of the State of Utah regardless of its contention of laws arrangements. </p>
    <p>11. Judicial Law On the off chance that our consent to mediate is found not to concern you or your case, or on the off chance that you quit discretion in accordance, you and NAH concur that any legal procedures (other than little cases activities) must be brought solely in the government or state courts situated in Utah, and you and NAH consent to scene and individual ward in those courts. If you are a part situated in the European Union, you may bring legal procedures against us emerging from or regarding this Agreement in your nation of living arrangement. </p>
    <p>12. Termination In the event that we end your account or access to our Platform, this Agreement ends as for the part account that has been ended, given that the will endure such end. </p>
    <p>13. Titles The segment titles right now for accommodation just and have no legitimate or legally binding impact. 
    <p>14. Violations Please report to violations to goyaynah@gmail.com. </p>
  
</ion-content>