<ion-list class="meeting-list">
  <ion-row class="sticky-search group-search">
    <!-- <ion-col size="3">
      
    </ion-col> -->
    <ion-col class="custom-search">
      <ion-text><strong>Say No To</strong></ion-text>
      <ion-searchbar  (ionInput)="searchFilter($event)" (ionBlur)="searchFilter($event)">
      </ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-card class="meeting-item ion-no-padding" *ngFor="let item of groupList;let gInx=index;">
    <ion-grid class="">
      <ion-row class="ion-align-items-center" >
        <ion-col class="img-left" (click)="navGroupDetails(item)">
          <ion-avatar class="avater text" [ngStyle]="{'backgroundColor':customColors[gInx % customColors.length]}">
            <label style="font-weight: bold;font-size:16px;color:#fff;">{{
              item.name.charAt(0)
            }}</label>
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-padding-l-0" (click)="navGroupDetails(item)">
          <ion-row class="ion-nowrap ion-align-items-center">
            <ion-col class="ion-no-padding">
              <ion-label class="meeting-title"><strong>Say No To</strong> {{ item.name }}
                <ion-text color="danger" *ngIf="item.isDeleted==1">
                  (Suspend)
                </ion-text>
              </ion-label>
              <ion-text class="text-medium" color="dark" size="small">
                <p class="ion-no-margin ion-padding-t-5">
                  Created By: {{ item.createdBy.displayName }}@{{ item.createdBy.typeOfNoer | titlecase}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="auto" class="ion-text-end" *ngIf="userInfo.id !== item.createdBy.id  && item.isDeleted==0">
          <ion-button size="small" style="font-size: 12p;" color="medium" class="ion-no-margin"
            (click)="follow(item,$event)" *ngIf="item.isFollower">
            Un Follow
          </ion-button>
          <ion-button size="small" style="font-size: 12p;" color="danger" class="ion-no-margin"
            (click)="follow(item,$event)" *ngIf="!item.isFollower">
            Follow
          </ion-button>
        </ion-col>
        <ion-col size="auto" class="ion-text-end" *ngIf="userInfo.id === item.createdBy.id && item.isDeleted == 0">
          <ion-icon size="large" color="danger" name="remove-circle-outline" class="icon-big" (click)="deleteGroupConfirm(item,gInx,$event)">
          </ion-icon>
          <!-- <ion-icon name="color-filter" class="icon-big"></ion-icon> -->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.followers && item.followers.length > 0"
        class="ion-nowrap ion-padding-t-5 ion-align-items-center ion-justify-content-between">
        <ion-col class="ion-padding-t-0">
          <app-peoples-icons [peoples]="item.followers" label="Members are Following"></app-peoples-icons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-list>

<ion-row class="ion-align-items-center no-meetings" *ngIf="noGroupMsg">
  <ion-col class="ion-justify-content-center" style="display: flex;align-items: center;">
    No Groups Available
  </ion-col>
</ion-row>
<ion-row class="ion-align-items-center" *ngIf="showLoading">
  <ion-col class="ion-justify-content-center" style="display: flex;align-items: center;">
    <ion-spinner></ion-spinner>
  </ion-col>
</ion-row>
<ion-infinite-scroll threshold="100px" (ionInfinite)="getGroups($event)">
  <ion-infinite-scroll-content loadingSpinner="none" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>