<ion-row class="ion-align-items-end" *ngIf="!meeting.isSuspend">
  <ion-col class="ion-justify-content-end" style="display: flex;">
    <ion-button class="" size="small" color="danger" (click)="addVideoBtn()" >
      Add Video
    </ion-button>
  </ion-col>
</ion-row>
<ion-row class="ion-align-items-center no-meetings" *ngIf="videoPaths.length==0">
  <ion-col class="ion-justify-content-center" style="display: flex;align-items: center;">
    No Videos Available
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12" *ngFor="let v of videoPaths;let inx=index;">
    <!-- <ion-icon name="trash" *ngIf="userInfo.id === meeting.createdBy.id" (click)="deleteVideo(v,inx)" class="ion-padding-r-5"
    style="cursor: pointer;"></ion-icon> -->
    <span class="img-delete"  *ngIf="!meeting.isSuspend && v.createdBy && v.createdBy.id==userInfo.id" (click)="deleteVideo(videoPaths,inx)">
      <ion-icon name="trash"></ion-icon></span>
    <iframe  width="100%" height="180" [src]="v.selfPath" frameborder="0" allowfullscreen></iframe>
  </ion-col>
</ion-row>
