.image-avater{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 17px;
}
.header{
    background-color: #f00;
}
.add-btn {
    bottom: 5%;
}
// .meeting-list{

// }
.ion-activatable {
    &.active{
        .avatar{
            background: #f00;
            color: #fff;
        }
    }
}