<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335868118309-05rvm238gmvi2m0tbojt2psa0fvqu082.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335868118309-05rvm238gmvi2m0tbojt2psa0fvqu082</string>
	<key>API_KEY</key>
	<string>AIzaSyBkJosaAMGVBvJlMSM5qI7GpOshhj9dO04</string>
	<key>GCM_SENDER_ID</key>
	<string>335868118309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nah.mobile</string>
	<key>PROJECT_ID</key>
	<string>mobile-app-96a0b</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-app-96a0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335868118309:ios:41d0c2e1da7d480fa346cc</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-app-96a0b.firebaseio.com</string>
</dict>
</plist>