<ion-row class="ion-align-items-center no-meetings" *ngIf="(list$ | async).length == 0">
  <ion-col class="ion-justify-content-center" style="display: flex; align-items: center;">
    No Posts Available
  </ion-col>
</ion-row>

<ion-row class="post-widget">
  <ion-card class="post-list" *ngFor="let post of list$ | async; let inx = index">
    <ion-card-header (click)="navDetails(post)">
      <ion-row>
        <ion-col size="auto" class="col-avatar">
          <ion-avatar class="post-avatar">
            <img [src]="post.createdBy.imageUrl" />
          </ion-avatar>
        </ion-col>
        <ion-col class="col-avatar-right">
          <ion-label>
            <ion-text class="text-name">{{ post.createdBy.displayName }}</ion-text>
            <ion-text class="post-stars">
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </ion-text>
            <span class="date">{{ post.createdDate | date: "mediumDate" }}</span>
          </ion-label>
          <p>
            <ion-text class="text-agenda">AGENDA</ion-text>
            <ion-text
              >Say No To <span class="text-danger">#{{ post.topic.name }}#</span></ion-text
            >
          </p>
        </ion-col>
      </ion-row>
      <ion-card-title>
        <ion-text>[{{ post.createdBy.typeOfNoer | titlecase }}]</ion-text>
        <ion-label>{{ post.title }}</ion-label>
        <ion-icon class="custom-antie"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-post-image-view [images]="post.photos"></app-post-image-view>
      <!-- <ion-thumbnail class="post-image" (click)="navDetails(post)">
        <ion-img [src]="defaultImg"></ion-img>
      </ion-thumbnail> -->
      <ion-text class="post-description" color="dark">
        <p>
          {{ post.description }}
        </p>
      </ion-text>
      <ion-text class="post-footer">
        <span> <ion-icon name="thumbs-up"></ion-icon> 31 </span>
        <span> <ion-icon name="thumbs-down"></ion-icon> 55 </span>
        <span> <ion-icon name="chatbubbles"></ion-icon> 77 </span>
        <span (click)="bookMark(post, inx)">
          <ion-icon name="star" [ngClass]="{ active: post.bookmark }"></ion-icon>{{ post.bookmarkCount }}
        </span>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-row>
<!-- <ion-fab class="add-btn" vertical="end" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" [routerLink]="['/agenda']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
