<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo"
      src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        FAQ's
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding information">
  <div class="d-block">
    <h4 class="d-block-header ion-margin-t-0">Using Say No</h4>
    <label for="">What is Nah ?</label>
    <p>Nah means say no. Natural expression of ‘No’. NAH is a meet up platform for people who share the same kind of refusal tendency..</p>
    <label for="">Why do we need you to use your app ?</label>
    <p>To pursue the reality game of freedom, it would be a good idea to try the reality game. A community of people meeting because they care about the same thing to tend to deny. It is a different platform that aims to collect people around the world who dislike the same problem that they are cynical and positive about.</p>
    <label for="">How does this app work?</label>
    <p>This is an app to provide an opportunity to SAY NO same thing to meet in reality and in engagement to full their tendency to deny. It's a totally free app with some different monetization strategies. NAH provides users a platform to discuss topics from Kim Jong-Un to ketchup on hot dogs</p>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Technical Issues:-</h4>
    <label for="">How do I sign up for SAY NO account?</label>
    <p>To create a SAY NO account from your <b>Android or IOS device,</b> download the app, open it, and simply tap Sign up through your Google account. For more details visit <a href="http://nah.mobi">http://nah.mobi</a>.</p>
    <label for="">Can I begin without choosing Noer ?</label>
    <p>No, In order to play this game you have to be in Say No mode. Therefore, identify your noer mode first and enjoy ‘SAY NO’.</p>
    <label for="">How to create the group?</label>
    <p>Create a SAYNO group next meeting in a few single steps. In the top bottom of the app you can see + sign. To schedule event enter meeting title * , information * , contact information * , group * , city * , location * , start date * , end date * , start time * , end time * and optionally users can add photos and embedded videos link URL as well . You can draft it or publish the event or if you want to create an event later you can save it.</p>
    <label for="">I upload my picture and videos but other users can t see , what should I do ?</label>
    <p>If users can’t see pictures make sure they are in proper formats like JPEG, PNG, and GIF. Nah provides only embedded videos URL link. If YouTube content is blocked it might be malicious content or intellectual property of YouTube.</p>
  </div>
  <div class="d-block">
    <h4 class="d-block-header">Policy and Guidelines:-</h4>
    <label for="">How do I secure my account?</label>
    <p>It's always recommended to use Google account when you sign in and not share your password to anyone even if the person seems to be someone you know or trust him / her.</p>
    <label for="">How do you contact the admin ?</label>
    <p>Users can contact admin through the Contact information field where admin will provide his / her direct email or phone number.</p>
    <label for="">How do I report the particular event or meeting?</label>
    <p>If you find any malicious content in a meeting or an event, Go to meeting -> Top right corner -> Report Meeting. Please write some information about the situation where the SAYNO team can take appropriate actions.</p>
    <label for="">If you are unhappy with the organizer?</label>
    <p>First give suggestions to the organizer on how to build up the group if he /she doesn’t take your suggestion leave the group, Create your own group for you Say No tendency.</p>
    <label for="">List of behaviours we should report to the user or inappropriate content?</label>
    <p>One way we will help you stay safe is through our Terms of Service on SayNo . For example, the submission of illegal, pornographic, defamatory, insulting, bullying, harassing, racist, racially or ethnically offensive .</p>
    <label for="">What if the organizer won’t join the meeting?</label>
    <p>If you are going to an event, and the organiser is not showing up, try to contact the organizer and find out what happened.Occasionally, if you can't get in contact with the meeting organizer and you don't feel like they're organising the kind of group you want to be part of, your best bet might be to find another group or if you're up for it, you can start your own group.</p>
    <label for="">What if the organizer can’t allocate the space?</label>
    <p>Your group members are excited about what you are organizing a meeting and they probably already have some good ideas on where to go. Ask them to share their ideas. You can find someone in the perfect space with a connexion.</p>
    <label for="">Changing the language in your account ?</label>
    <p>As of now NAH is offering English language but more will be added in later versions.To learn more about changing the language of your mobile device , visit <a href="#"> Apple Support</a> and <a href="#">Google Support</a>.</p>
  </div>

</ion-content>