<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo" src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        Profile
      </ion-text>
    </ion-buttons>
    <ion-row class="profile-settings text-10">
      <ion-icon style="cursor: pointer;" name="md-more" color="light" (click)="presentPopover($event)"></ion-icon>
    </ion-row>
  </ion-toolbar>

</ion-header>

<!-- fullscreen="true" slot="fixed" -->
<ion-content scroll="true">
  <!-- <ion-fab class="add-btn" vertical="end" horizontal="end" slot="fixed" (click)="presentModal()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-card class="card">
    <ion-card-header>
      <ion-avatar class="image-avater image-center ion-activatable">
        <img [src]="googlePic" />
      </ion-avatar>
    </ion-card-header>
    <ion-card-content class="card-body ion-text-center">
      <h3 class="username">{{ userInfo.displayName }}</h3>
      <ion-text>
        <ion-icon size="small" [style.color]="rating >= 1 ? 'yellow' : ''" name="star"></ion-icon>
        <ion-icon size="small" [style.color]="rating >= 2 ? 'yellow' : ''" name="star"></ion-icon>
        <ion-icon size="small" [style.color]="rating >= 3 ? 'yellow' : ''" name="star"></ion-icon>
        <ion-icon size="small" [style.color]="rating >= 4 ? 'yellow' : ''" name="star"></ion-icon>
        <ion-icon size="small" [style.color]="rating >= 5 ? 'yellow' : ''" name="star"></ion-icon>
        <!-- <ion-icon size="small" color="warning" name="star"></ion-icon> -->
      </ion-text>
      <h5 class="country">{{ userInfo?.city?.name }}</h5>
      <h5 class="country">{{ userInfo.typeOfNoer }}</h5>
      <!-- <h6 class="followes">Followes: <ion-chip>
            <ion-label>2</ion-label>
          </ion-chip>
        </h6> -->
    </ion-card-content>
  </ion-card>
  <ion-row class="ion-align-items-center no-meetings">
    <app-agenda-view></app-agenda-view>
  </ion-row>
</ion-content>
<ion-footer>

</ion-footer>